@model EveMoonminingTool.Models.SummaryViewModel

@{
    ViewData["Title"] = "Index";   
}

<h1>Mining Summary</h1>

<form asp-action="Summary" method="get">
    <p>
        From:<input asp-for="StartDay"> to: <input asp-for="EndDay">
    </p>
    <p>
        Corp Tribute:<input type="text" value="@Model.Tax" name="corpTribute">%
    </p>
    <input type="submit" value="OK" />
</form>



@foreach (var summary in Model.CropSummarys)
{
    <h2>@summary.Corp</h2>
    <button class="collapsible">Show mined ores</button>
    <div class="content">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CropSummarys[0].TJobs[0].Day)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.CropSummarys[0].TJobs[0].Corp)
                    </th>*@
                    @*<th>
                        @Html.DisplayNameFor(model => model.CropSummarys[0].TJobs[0].Pilot)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.CropSummarys[0].TJobs[0].OreType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CropSummarys[0].TJobs[0].TAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CropSummarys[0].TJobs[0].TValue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CropSummarys[0].TJobs[0].Volumen)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CropSummarys[0].TJobs[0].Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CropSummarys[0].TJobs[0].EstimatedValue)
                    </th>
                    @*<th>
            @Html.DisplayNameFor(model => model.CropSummarys[0].TJobs[0].OreID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CropSummarys[0].TJobs[0].SystemID)
        </th>*@
                    <th></th>
                </tr>
            </thead>
            
            @foreach (var item in summary.TJobs)
            {
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Day)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Corp)
                    </td>*@
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Pilot)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.OreType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TValue) ISK
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Volumen) m³
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstimatedValue) ISK
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.OreID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SystemID)
                    </td>*@
                </tr>
            </tbody>
            }


        </table>
    </div>
    <div>A total of @Html.DisplayFor(modelItem => summary.Volume) m³ for @Html.DisplayFor(modelItem => summary.TValue) ISK (@Model.Tax % tax) was minered</div>

    @foreach (var pilot in summary.PilotSummarys)
    {
    <button class="collapsible">@pilot.Pilot : @Html.DisplayFor(modelItem => pilot.TValue) ISK (@Model.Tax % tax on @Html.DisplayFor(modelItem => pilot.Volume) m³)</button>
        <div class="content">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CropSummarys[0].PilotSummarys[0].TJobs[0].Day)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.CropSummarys[0].PilotSummarys[0].TJobs[0].Corp)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CropSummarys[0].PilotSummarys[0].TJobs[0].Pilot)
                        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.CropSummarys[0].PilotSummarys[0].TJobs[0].OreType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CropSummarys[0].PilotSummarys[0].TJobs[0].TAmount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CropSummarys[0].PilotSummarys[0].TJobs[0].TValue)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CropSummarys[0].PilotSummarys[0].TJobs[0].Volumen)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CropSummarys[0].PilotSummarys[0].TJobs[0].Amount)
                        </th>                        
                        <th>
                            @Html.DisplayNameFor(model => model.CropSummarys[0].PilotSummarys[0].TJobs[0].EstimatedValue)
                        </th>
                        
                        @*<th>
                            @Html.DisplayNameFor(model => model.CropSummarys[0].PilotSummarys[0].TJobs[0].OreID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CropSummarys[0].PilotSummarys[0].TJobs[0].SystemID)
                        </th>*@
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in pilot.TJobs)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Day)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Corp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pilot)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.OreType)
                            </td>
                            <td>
                               @Html.DisplayFor(modelItem => item.TAmount) 
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TValue) ISK
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Volumen) m³
                            </td>
                            <td>
                               @Html.DisplayFor(modelItem => item.Amount) 
                            </td>                            
                            <td>
                                @Html.DisplayFor(modelItem => item.EstimatedValue) ISK
                            </td>
                            
                            @*<td>
                                @Html.DisplayFor(modelItem => item.OreID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SystemID)
                            </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
